* {
    margin: 0;
    padding: 0;
}


.header {
    height: 50px;
    border-bottom: 1px solid;
    width: 85%;
    /*padding: 10px;*/
    display: flex;
    align-items: center;
}

button{
    border: 1px solid;
    height: 32px;
    margin-left: 15px;
}


.instructions {
    position: fixed;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    border: 1px solid;
    z-index: 5555;
}

.instructions .instructions-text {
    top: 50%;
    position: absolute;
    font-weight: bold;
}

.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid;
    width: 85%;
}


.card-item span:after {
    display: inline-block;
    content: "\00d7";
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.main{
    display: grid;
    grid-template-columns: auto auto;
}

.card-item {
    width: 47%;
    border: 1px solid;
    margin: 30px;
    height: 60px;
    position: relative;
}